pip==24.3.1
setuptools>=64.0
aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
blinker
bs4
certifi
chardet
charset-normalizer
click
colorama
comtypes
dateparser
feedparser
Flask
Flask-Cors
frozenlist
googletrans
gTTS
h11
h2
hpack
hstspreload
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
joblib
MarkupSafe
MouseInfo
multidict
nltk
numpy
openai
pandas
pillow
PyAudio
PyAutoGUI
pycryptodome
PyGetWindow
pygooglenews
PyMsgBox
pyperclip
pypiwin32
PyRect
PyScreeze
pystyle
python-dateutil
pyttsx3
pytweening
pytz
pywhatkit
regex
requests
rfc3986
setuptools
sgmllib3k
six
sniffio
soupsieve
SpeechRecognition
textblob
tls-client
toml
tqdm
typing_extensions
tzdata
tzlocal
urllib3
Werkzeug
wheel
wikipedia
yarl